*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/5053309.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
main{
    display: flex;
    flex-direction: row;
    height: 99.5vh;
    border: 2px solid black;
}
main div:nth-child(1){
    width: 25%;
    border: 1px solid rgb(48, 48, 48);
    height: 100%;
    color: ghostwhite;
}
main div:nth-child(2){
    width: 45%;
    color: ghostwhite;
}
main div:nth-child(3){
    width: 30%;
    border: 1px solid rgb(48, 48, 48);
    height: 100%;
    color: ghostwhite;
}
main div{
    text-align: center;
}
.playerList  > section {
    height: 25%;
}
.playerList > section > p:nth-child(1){
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: ghostwhite;
    font-size: medium;
    padding: 5px 0px;
    text-transform: uppercase;
}
.playerList > section > .cover{
    width: 100%;
    height: calc(100% - 28.4px);
    overflow-y :scroll;
    color: white;
}


/*second part of the dashboard , middle part*/
.disk > .diskrun{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.disk > .diskrun >img{
    width: 110%;
}

/*third part of the lyrics , last part*/
.lyrics{
    width: 98% !important;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: calc(100% - 37px);
}
.lyrics > table{
    width: 95%;
    /* border: 1px solid yellow; */
    padding-top: 7px;
}
.lyrics > table > tbody >tr{
    display: grid;
    padding: 9px 0px;
    justify-content: end;
}
.lyrics > table > tbody >tr > td{
    font-size: 130%;
}